<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="${log.dir:-log}" />
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Package-wide logger (for other classes) -->
    <logger name="com.oracle.ofss.sanctions.tf.app" level="debug" additivity="false">
         <appender-ref ref="CONSOLE" />
    </logger>
</configuration>
